

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;

	--font:'Ubuntu', sans-serif;

    --white:#F9F9F9;
    --l-white:#F9F9F980;
    --black:#1A1A1A;
    --l-black:#1A1A1A80;
    --pink:#E91E63;
    --pinkish:#C2185B;
    --violet:#9c27b0;
    --l-violet:#9c27b080;
    --purple:#5727b0;
    --o-blue:#272ab0;
    --blue:#276bb0;
    --light:#57acdc;
    --silico:#57dcbe;
    --l-silico:#57dcbe80;
    --mocha:#60c689;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 120% 120%;

	height: 100vh;
}
  




ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	width: 100%;
	height: 100%;
	background: var(--black);
	overflow: hidden;
}

.chat-header {
	color: var(--white);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--l-silico);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	border-radius: 0px 20px 20px 0px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}


.chat-messages {
	padding: 30px;
	min-height: 80vh;
	max-height: 80vh;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 20px 20px 0px 20px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border: none;
	background: var(--silico);
	border-radius: 10px 0px 0px 10px;
}

.chat-form-container button {
	border-radius: 0px 10px 10px 0px;
}

.usr-list {
	display: flex;
	flex-direction: row;
	background-color: #1A1A1A;
	margin: 10px;
	font-size: 1.2em;
	padding: 20px;
	border-radius: 0px 10px 10px 10px;
}

.usr-list span {
	margin-right: 20px;
}

/* Join Page */

.join-top {
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 100%;
}

.join-top h1 {
	margin-left: -20px;
	margin-bottom: 20px;
}

.userIn {
	color: white;
	background: var(--black);
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 5%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border-radius: 20px;
}

.userIn form {
	display: flex;
	flex-direction: column;
}

.inText {
	display: flex;
	font-size: 1.3em;
	flex-direction: column;
	margin: 20px 0px;
}

.userIn form div input[type='text'] {
	border: none;
	padding: 10px 10px;
	border-radius: 0px 10px 10px 10px;
}

.logbuttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	text-align: center;
}

.logbuttons span {
	position: absolute;
	margin-right: -31%;
	margin-top: 9%;
	width: 28%;
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	z-index: -1;

}

.logbuttons input{
	width: 40%;
	border: none;
	font-size: 1.2em;
	color: var(--white);
	background-color: var(--pink);
	padding: 10px;
	border-radius: 10px;
	transition: ease-in 150ms;
	z-index: 2;
}

.logbuttons input:hover {
	transform: scale(1.1);
	background: var(--pinkish);
	transition: ease-out 150ms;
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.toaster {
	width: 100%;
	position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
}



#toasty {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */ /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #toasty.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

  .lds-ring {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0.8;
	background-color: #111; 
	z-index: 99;
  
  }
  .lds-ring div {
	display: block;
	position: absolute;
	top: 45%;
	left: 47%;
	transform: translate(-50%, -50%);
	z-index: 100;
	box-sizing: border-box;
	
	position: absolute;
	width: 64px;
	height: 64px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }